
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.principal{
    text-align: center;
    color: white;
    text-size: 4em:

}

.hero-imagem{
    background-size: cover;
    background-position: 0 0;
}

.info {
    text-align: center;
    margin: 10px auto;
    }

    
